{% extends 'base.html' %}

{% block title %}Concurrency Control and Consistency Case 1{% endblock %}

{% block content %}
    <h1>Concurrency Control and Consistency Case 1</h1>
    <hr>
    {% if status == None %}
    <form action="/concurrency1" method="get">
        <select class="form-control" id="level" name="level" required>
            <option value="">Select Level</option>
            <option value="READ UNCOMMITTED">READ UNCOMMITTED</option>
            <option value="READ COMMITTED">READ COMMITTED</option>
            <option value="REPEATABLE READ">REPEATABLE READ</option>
        </select>
        <br>
        <input type="submit" class="btn btn-primary" name="status" value="Read Lock">
        <input type="submit" class="btn btn-primary" name="status" value="Write attempt">
    </form>
    {% else %}
        {% if status == "Read Lock" %}
            Read value {{ value }} with {{ level }}.
            <br>
            Read-locked if appicable.
            <br>
            <a class="btn btn-primary btn-lg" href="/concurrency1?status=release" role="button">Release</a>
        {% elif status == "Write attempt" %}
            writing
        {% elif status == "release" %}
            New value {{ value }}.
            <a class="btn btn-primary btn-lg" href="/concurrency1" role="button">Redo</a>
            <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
        {% endif %}
    {% endif %}
{% endblock %}