{% extends 'base.html' %} {% block title %}Doctors{% endblock %} {% block
content %}
<h1>Doctors</h1>
<hr />
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Specialty</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    {% for _, doctor in doctors.iterrows() %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ doctor.doctorid }}</td>
      <td>{{ doctor.mainspecialty }}</td>
      <td>{{ doctor.doctor_age }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
