{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Welcome to SeriousMD</h1>
    <p class="lead">Manage your apppointments and view a catalogue of doctors, patients, and clinics.</p>
    <hr class="my-4">
    <p>Use the navigation bar above to access different sections of the application.</p>
    <a class="btn btn-primary btn-lg" href="/appointments" role="button">View Appointments</a>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Concurrency Control and Consistency</th>
                <th>Global Failure and Recovery</th>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary btn-lg" href="/concurrency1" role="button">View Appointments</a>
                </td>
                <td>b</td>
            </tr>
        </thead>
    </table>
</div>

{% endblock %}