{% extends 'base.html' %} {% block title %}Patients{% endblock %} {% block
content %}
<h1>Patients</h1>
<hr />
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Age</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    {% for _, patient in patients.iterrows() %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ patient.pxid }}</td>
      <td>{{ patient.patient_age }}</td>
      <td>{{ patient.patient_gender }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
