body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    max-width: 1400px;
}

.table {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    vertical-align: middle;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.appointments-container {
    max-height: 800px;
    overflow-y: scroll;
}

.appointments-container th {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.form-group.d-flex {
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
}

.form-control.w-auto {
    width: auto;
}

#node-selector {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    background-color: #ffffff;
    color: #495057;
    font-weight: 500;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#node-selector:hover,
#node-selector:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#node-selector option {
    padding: 0.5rem;
}

#node-selector option:disabled {
    color: #6c757d;
}

#node-selector option:checked {
    background-color: #007bff;
    color: #fff;
}

#node-selector option[data-online="true"] {
    background-color: #d4edda; /* Light green background for online nodes */
    color: #155724; /* Dark green text for better contrast */
}

#node-selector option[data-online="false"] {
    background-color: #f8d7da; /* Light red background for offline nodes */
    color: #721c24; /* Dark red text for better contrast */
}

.dot {
    height: 25px;
    width: 25px;
    background-color: lime;
    color: gray;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
  }